body {
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.d-flex {
    background-color: #FEFEFE;
    max-width: 90%;
}

.info-box {
    background-color: #D7EDE0;
}

.most-used-word {
    background-color: #D7F5ED;
}

h1 {
    color: #61B759;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

html {
    background-color: #EEF6F8;
}
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.text-box-before {
    color: rgba(0, 0, 0, 0.233);
}
