body {
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.d-flex {
    background-color: #FEFEFE;
    max-width: 90%;
}

.info-box {
    background-color: #D7EDE0;
}

.most-used-word {
    background-color: #D7F5ED;
}

h1 {
    color: #61B759;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

html {
    background-color: #EEF6F8;
}
pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.text-box-before {
    color: rgba(0, 0, 0, 0.233);
}

/*
  body {
      background-color: #ffffff;
      font-family: 'Quattrocento Sans', sans-serif;
  }

  .container {
    min-height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
      "header"
      "main"
      "footer";

  }

.header {
    grid-area: header;
    justify-self: stretch;
    padding: 2%;
}

.form-container {
    background-color: #F6F7FB;
    grid-area: main;
    justify-self: center;
    padding: 2%;
    margin-top: 2%;
    width: 75%;
    max-width: 100%;
    border-radius: 1%;
    overflow: auto;
}

pre {
    white-space: pre-wrap;      
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap;      
    white-space: -o-pre-wrap;    
    word-wrap: break-word;      
 }

.info-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    grid-area: footer;
    align-self: end;
    margin-top: 2%;
}

.footer > p {
    text-align: center;
}

.text-box-before {
    color: rgba(0, 0, 0, 0.432);
    border: rgba(0, 0, 0, 0.068) 1px solid;
    padding: 1%;
    max-width: 100%;
    max-height: 100%;
}

.text-box-after {
    color: rgba(0, 0, 0, 0.747);
    border: rgba(0, 0, 0, 0.068) 1px solid;
    padding: 1%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}


.upload-button {
    background-color: #7A86DD;
    color: #ffffff;
    padding: 1%;
    border-radius: 2%;
    min-width: 10%;
    font-size: 1em;

}


.info-box {
    background-color: #FAAF6A;
    display: inline-block;
    border-radius: 1%;
}

.info-box > p {
    padding: 1%;
    text-align: center;

}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.most-used-word {
    background-color: #FF786B;
}

input[type="file"] {
    display: none;
}

#file-label {
    background-color: #ffffff;
    border: #7A86DD solid 1px;
    padding: 5px;
    border-radius: 2%;
    margin-right: 3%;
    font-size: 1em;
}

.file-and-upload-container {
    display: flex;
    flex-flow: row;
    margin-top: 2%;
}

.header {
    padding: 2%;

} */